@import '~normalize.css';
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');
@import 'shadows';

// https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
    font-family: 'Roboto', 'Arial', sans-serif;
    font-weight: 400;
}

html, body, .gameContainer, .gameView, .viewport {
    width: 100%;
    height: 100%;
}

$primary-color-dark:   #5D4037;
$primary-color:        #795548;
$primary-color-light:  #D7CCC8;
$primary-color-text:   #FFFFFF;
$accent-color:         #8BC34A;
$primary-text-color:   #212121;
$secondary-text-color: #757575;
$divider-color:        #BDBDBD;

$ui-background-color: $primary-color-dark;
$ui-color: $primary-color-text;

.viewport {
    background: grey;
}

.miniMap {
    position: fixed;
    top: 30px;
    right: 10px;
    width: 256px;
    height: 256px;
    border: 1px solid black;
    background-color: white;

    @include card(3);
}

.gameDevTools {
    position: fixed;
    top: 296px;
    right: 10px;
    width: 200px;
    height: 300px;
    border: 1px outset $primary-color;
    color: $ui-color;
    background-color: $ui-background-color;

    @include card(3);
}

.viewport :global(.ReactVirtualized__Grid__innerScrollContainer) > canvas {
    // border: 1px solid red;
}


.entityLayer {
    position: absolute;
    top: 0;
    left: 0;
    margin-top: -45px;
    width: 12800px;
    height: 10240px;
}

canvas {
    image-rendering: pixelated;
}
